<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-left">
            <div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
                <p class="text-center"><a href="/admin/category/new/" class="btn btn-primary py-3 px-4">Add new category</a></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="table-wrap">
                <table class="table">
                    <thead class="thead-primary">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Category name</th>
                        <th></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%if(categories.length !== 0){
                      categories.forEach(category => { %>
                        }
                        <tr class="alert" role="alert">
                            <td>

                            </td>
                            <td>
                                <div class="email">
                                    <span><%= category.name %></span>
                                    <span> </span>
                                </div>
                            </td>
                            <td>
<!--                                <a href="./<%= category.name %>" class="btn btn-primary">View drinks</a>-->
                            </td>
                            <td>
                                <a href="/admin/category/edit/<%= category.id %>" class="btn btn-info">Edit</a>
                            </td>
                            <td>
                                <form action="/admin/category/<%= category.id %>?_method=DELETE" method="POST" class="d-flex align-items-center justify-content-center">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    <% })} else{%>
                        <div class="col">
                            <p>You don't have any categories yet. Add new category!</p>
                        </div>
                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>