<div class="overlay"></div>
<div class="container">
    <h1 class="mb-4">Admin page</h1>
    <a href="./product/" class="btn btn-success">View products list</a>
    <a  class="btn btn-success">Categories</a>
    <a  class="btn btn-success">Orders</a>
</div>